<div class="container">

    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Concert en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
    </form>
        


   <!--  <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Concert en tapant</label>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
     </form> -->
        


   <!--  <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Concert</label>
        <input type="text" class="form-control" [(ngModel)]="nomConcert" name="nomConcert" class="form-control">
        <button type="submit" (click)="rechercherProds()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
    </form> -->
    

   

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Name</th> <th>Price</th>  <th>Date</th><th>Genre</th> </tr>
                </thead>
                <tbody *ngFor="let concert of concerts | filter:searchTerm  ">
                    <tr>
                        <td>{{concert.idConcert}}</td>
                        <td>{{concert.nomConcert}}</td>
                        <td>{{concert.prixConcert}}</td>
                        <td>{{concert.dateCreation | date:'dd/MM/yyyy'}}</td>
                        <td>{{concert.genre?.nomGen}}</td> 
                       <!--  <td><a class="btn btn-danger" (click)="supprimerConcert(concert)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateConcert',concert.idConcert]">Modifier</a></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
